header {
  user-select: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

header nav ul li a {
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: #21ffe2;
  font-family: "Mukta", sans-serif;
}

a:hover {
  color: rgb(255, 253, 198);
}

.nav-space {
  width: 100px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 auto;
  z-index: 100;
}

.container-ul {
  text-align: center;
}
.container-ul li {
  color: #21FFE2;
  font-size: 20px;
  display: inline-block;
}

.svg-menu {
  z-index: 106;
  max-width: 37px;
  position: fixed;
  display: block;
  left: 0;
  right: -0.6vw;
  top: 4px;
  cursor: pointer;
}

#svg-menu-elemt {
  fill: none;
  stroke: #000B38;
  stroke-linecap: round;
}

#svg-menu-elemt:hover {
  stroke: rgb(255, 253, 198);
}

.lihg-color {
  stroke: rgb(255, 253, 198) !important;
}

.sprite-menu-drip {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 136px;
  height: 141px;
  background-image: url(../images/sprite-menu-drip.png);
  animation: drip 5s steps(66) infinite;
}

nav {
  display: block;
  margin: 1rem;
  color: #21ffe2;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  position: relative;
}

.backgraund-top {
  user-select: none;
  z-index: 104;
  position: fixed;
  background-image: url("../images/backgraund-top.svg");
  background-size: auto 100%;
  background-repeat: none;
  top: -499px;
  left: 0;
  width: 100%;
  height: 500px;
  transition: visibility 0.8s;
}

.menu-full-page {
  z-index: 104;
  position: fixed;
  background-image: url("../images/fullpagePrincipal.svg");
  background-size: auto 100%;
  background-repeat: none;
  top: -10;
  left: 0;
  width: 100vw;
  height: 190%;
  visibility: hidden;
  transition: visibility 1s;
}
.menu-full-page ul {
  display: block;
  position: relative;
  max-width: 100%;
  height: 70%;
  top: 5%;
  text-align: center;
  padding: 0;
  z-index: 102;
  font-family: "Varela Round", sans-serif;
}
.menu-full-page ul li {
  list-style: none;
  color: rgb(255, 253, 198);
  font-size: 45px;
  font-weight: 600;
  margin: 4rem;
  overflow: hidden;
}
.menu-full-page ul li a {
  display: inline-block;
  color: rgb(255, 253, 198);
  text-decoration: none;
}
.menu-full-page ul li a:hover {
  color: rgb(255, 238, 110);
  font-size: 48px;
}

.fullPage-nav {
  z-index: 106;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  margin: 0;
  padding: 1rem;
  padding-right: 0;
  visibility: hidden;
}
.fullPage-nav ul {
  display: flex;
  text-decoration: none;
  margin: 0;
}
.fullPage-nav ul li {
  margin: 1.5rem;
  list-style: none;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}
.fullPage-nav ul li a {
  color: rgb(255, 253, 198);
  text-decoration: none;
}
.fullPage-nav ul li a:hover {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.buttonContact a {
  cursor: pointer !important;
}

.inactive-full-nav {
  display: none !important;
}

.copy-right {
  position: absolute;
  color: rgb(255, 253, 198);
  right: 0.8rem;
  bottom: -3px;
  margin: 0;
  padding: 0;
  cursor: default;
}

/* ----------------------------button sound----------------- */
.container-sound {
  width: 4rem;
  height: 20px;
  position: absolute;
  right: 0.6rem;
  top: 1rem;
  z-index: 5;
  cursor: pointer;
}

.Sound-mute {
  display: block;
  width: 20px;
  height: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.Sound-mute-image {
  max-width: 4rem;
  width: 1.8rem;
}

#Sound-bars {
  visibility: attr(data-visibility);
  width: 20px;
  height: 20px;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
}

.column {
  width: 3.5px;
  background-color: #ff7e7e;
  border-top-left-radius: 0.5px;
  border-top-right-radius: 0.5px;
}

.column-1 {
  height: 20px;
  animation: bit-1 0.2s infinite alternate 0.1s;
}

@keyframes bit-1 {
  0% {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 7px;
  }
}
.column-2 {
  height: 20px;
  animation: bit-2 0.2s infinite alternate 0.2s;
}

@keyframes bit-2 {
  0% {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 10px;
  }
}
.column-3 {
  height: 20px;
  animation: bit-3 0.3s infinite alternate 0.3s;
}

@keyframes bit-3 {
  0% {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 14px;
  }
}
.column-4 {
  height: 20px;
  animation: bit-4 0.4s infinite alternate 0.4s;
}

@keyframes bit-4 {
  0% {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 18px;
  }
}
/* -----------------------------animations key frames---------------------*/
@keyframes drip {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -8976px;
  }
}
/*--------------------------------Responci tablets---------------------------*/
@media only screen and (max-width: 480px) {
  .container-ul {
    display: none;
  }
  .copy-right {
    bottom: 1rem;
  }
  .svg-menu {
    right: -0.4vw;
  }
  .fullPage-nav ul {
    padding: 0;
  }
  .fullPage-nav ul li {
    margin-bottom: 0.6rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .container-ul {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-ul {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
