#site-inactive{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  width: 100%;
  height: 100vh;
  transition: all ease 1s;
  transition-delay: 1s;
  pointer-events: none;
  backface-visibility: hidden;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.background-dark{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  background-color: #000b38;
}

.div-hello{
  position: absolute;
  top: 0%;
  left: -7%;
}

.div-jaime{
  width: 50%;
  position: absolute;
  top: 6rem;
  left: 20rem;
}

.div-iam{
  width: 50%;
  position: absolute;
  left: 7.5rem;
  top: 15rem;
}

.text-jaime{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: animate 7s linear forwards;
}

.text-hello{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: animate 10s linear forwards;
}

.text-iam {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: animate 6s linear forwards;
} 

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}


.main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .social-icon {
    transform: scale(1.3);
  }

  .social-icons {
    display: flex;
    justify-content: initial;
    align-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: scale(1);
  }

   .social-icon svg {
      overflow: visible ;
    } 
    
   .si-circle {
      fill: #616161;
    }
    
   .si-splash, .si-grid{
      display: none;
      visibility:hidden;
    } 

    .si-icon {
      margin: 0 auto;
      transform-origin: "center center" ;
    }

    .tranform-icon{
        translate: 25px 25px;
    }
    

    /*-----------------------responci developer animation-----------------*/

    @media only screen and (max-width: 480px){
      /* Estilos para dispositivos móviles*/
      body {
        max-width: 100vw !important;
      }

      #scene {
        top: -7rem !important;
        height: 40vh !important;
      }

      .layer{
        transform: scale(0.5) !important;
        height: 90%;
      }

      .sprite{
        display: none !important;
      }

      .div-hello{
        top: -22% !important;
        left: -46% !important;
        transform: scale(0.5) !important;
      }
      .div-iam{
        left: -12% !important;
        top: -6.2% !important;
        
      }
      
      .div-jaime{
        top: -13% !important;
        left: 14% !important;
        transform: scale(0.5) !important;
        }
      
        /*------------------------------TagCloud---------------------*/
        .myCanvas{
          transform: scale(0.85);
        }

        /*-------------------------footer------------------------*/
        .footer-tab{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: auto;
          margin: 0 auto;
          float: none;
        }

        .gatoMano{
          left: 0%;
          width: 100%;
        }

        .contact{
          text-align: center;
        }

        .location{
          text-align: center;
        }
    }

    /*-------------------------------tablets--------------------------*/

    @media only screen and (min-width: 765px) and (max-width: 1024px) {
      .svg-contoll-width{
        transform: scale(0.65) !important;
      }
      .svg-contoll-widthMax{
        transform: scale(0.7)!important;
      }
      .div-hello{
        top: 0%;
        left: -26%;
      }
      
      .div-jaime{
        
        left: 0%;
      }
      
      .div-iam{
        
        left: -11%;
        top: 12rem;
      }

      .jungle{
        background: repeat; 
      }

      .with-layer{
        transform: scale(0.75) !important;
      }

      .with-layer-dev{
        transform: scale(0.3) !important;
        left: 17% !important;
        top: 200px !important;
      }

      .with-layer-lamp{
        transform: scale(0.37) !important;
        left: 57% !important;
      }
      .fireflies{
        width: 1280px;
        height: 534px;
        left: 75% !important;
      }
        /*-----------------------footer responci-------------------------------*/
        .location{
          width: 28%;
          margin-left: 2.5rem;
        }
      
        .gatoMano{
          left: -9%;
        }
    }

  