$blue-dark: #000B38;
$color-firts: #21FFE2;
$white: rgb(255, 253, 198);
$font-size:20px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$min-scale: 0.5;
$max-scale: 1;



header{
    user-select: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

header nav ul li a {
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #21ffe2;
    font-family: 'Mukta', sans-serif;
}

a:hover{
    color: $white;
}

.nav-space{
    width: 100px;
}

.menu{
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    z-index: 100;
    
    
}

.container-ul{
    
    text-align: center;

    li{
        color: $color-firts;
        font-size: $font-size;
        display: inline-block;
    }
}

.svg-menu{
    z-index: 106;
    text-align: right;
    max-width: 54px;
    position: fixed;
    display: block;
    left: 0;
    right: 0vw;
    top: 4px;
    //margin: 0 auto;
    cursor: pointer;
}


#svg-menu-elemt{
    fill: none;
    stroke: $blue-dark;
    stroke-linecap: round;
}

#svg-menu-elemt:hover{
    stroke: $white;
}

.lihg-color{
    stroke: $white !important;
}


.sprite-menu-drip {
    
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 136px;
    height: 141px;
    background-image: url(../../images/sprite-menu-drip.png);
    animation: drip 5s steps(66) infinite;
}


nav{
    display: block;
    margin: 1rem;
    color: #21ffe2;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    position: relative;
}

.backgraund-top{
    user-select: none;
    z-index: 104;
    position: fixed;
    background-image: url("../../images/backgraund-top.svg");
    background-size: auto 100%;
    background-repeat: none;
    top: -499px;
    left: 0;
    width: 100%;
    height: 500px;
    transition: visibility 0.8s;
}

.menu-full-page{
    z-index: 104;
    position: fixed;
    background-image: url("../../images/fullpagePrincipal.svg");
    background-size: auto 100%;
    background-repeat: none;
    top: -50px;
    left: 0;
    width: 100vw;
    height: 190%;
    visibility: hidden;
    transition: visibility 1s;

    ul{
        display: block;
        position: relative;
        max-width: 100%;
        height: 70%;
        top: 5%;
        text-align: center;
        padding: 0;
        z-index: 102; 
        font-family: 'Varela Round', sans-serif;
        
        li{
            list-style: none;
            color: $white;
            font-size: 45px;
            font-weight: 600;
            margin: 4rem;
            overflow: hidden;
            a{
                display: inline-block;
                color: $white;
                text-decoration: none;
            }

            a:hover{
                color: rgb(255, 238, 110);
                font-size: 48px;
            }
        }
    }
}

.fullPage-nav{
    z-index: 106;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    margin: 0;
    padding: 1rem;
    padding-right: 0;
    visibility: hidden;

    ul{
        display: flex;
        text-decoration: none;
        margin: 0;

        li{
            margin: 1.5rem;
            list-style: none;
            font-size: 16px;
            font-family: 'Varela Round', sans-serif;

            a{
                color: $white;
                text-decoration: none;
            }

            a:hover{
                font-weight: 500;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.buttonContact a{
    cursor: pointer !important;
}

.inactive-full-nav{
    display: none !important;
}

.copy-right{
    position: absolute;
    color: $white;
    right: 0.8rem;
    bottom: -3px;
    margin: 0;
    padding: 0;
    cursor: default;
}



/* -----------------------------animations key frames---------------------*/

@keyframes drip{

0% {
    background-position: 0px;
}

100% {
    background-position: -8976px;
}
}

/*--------------------------------Responci tablets---------------------------*/
@media only screen and (max-width: $mobile){
    // Estilos para dispositivos móviles
    .container-ul{
        display: none;
    }


    .copy-right{
        bottom: 1rem;
    }

    .svg-menu{
        right: -0.4vw;
    }

    .fullPage-nav ul{
        padding: 0;
    }

    .fullPage-nav ul li{
        margin-bottom: 0.6rem;
    }

    
  }

@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    // Estilos para dispositivos móviles
    .container-ul{
        display: none;
    }

  }
  
  @media only screen and (min-width: $tablet) and (max-width: $desktop) {
    
    // Estilos para tabletas
    .container-ul{
        display: none;
        
    }
  }